<div class="col-sm-4 mx-auto " style="margin-top:4%">
    <a href="/student/login" class="btn btn-danger" style="margin-left:45%;">Back</a>
    <div class="card rounded-2 shadow-lg border border-dark rounded-2">
        <div class="card-body">
            <h2 class="card-title d-flex justify-content-center" style="margin-left: 0px;"><%= name %>'s Result</h2>
        
                <table class="table table-danger table-striped table-hover ">
                    <thead>
                        <tr >
                            <th scope="col">Name</th>
                            <th scope="col">Roll no.</th>
                            <th scope="col">Date of Birth</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><%= name %></td>
                            <td><%= rollno %></td>
                            <td><%= dob %></td>
                            <td><%= score %></td>
                        </tr>
                    </tbody>
                </table>
    
        </div>
    </div>

</div>